@import '../../app/_theme.scss'; // Ensure to include the path to your theme SCSS file

.custom-navbar {
    display: flex; // Set the navbar to be a flex container
    justify-content: space-around; // This distributes space around items
    background-color: map-get($theme-colors, 'light'); // Accessing light color
    width: 100%; // Ensures the navbar takes full width

    .nav-link {
        flex-grow: 1; // Allows each link to grow and fill the space evenly
        text-align: center;
        color: map-get($theme-colors, 'dark'); // Accessing dark color
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem; // Increase font size
        padding: 10px 50px; // Adjusted padding for better spacing

        &:hover {
            background-color: map-get($theme-colors, 'grey-analogous-2'); // Accessing specific grey variant
            color: map-get($theme-colors, 'dark-complement'); // Accessing complementary color
        }

        &.active {
            background-color: map-get($theme-colors, 'info-complement'); // Accessing info color
            color: map-get($theme-colors, 'light'); // Accessing complementary color
        }
    }

    div {
        font-size: 1.2rem;
        margin-top: 0.2rem;
    }

    // Media Query for Mobile Devices
    @media (max-width: 768px) {
        .nav-link {
            padding: 5px 20px; // Reduced padding
            font-size: 1rem; // Reduced font size

            svg {
                width: 25px; // Reduced icon size
                height: 25px; // Reduced icon size
            }
        }

        div {
            font-size: 0.9rem; // Reduced font size for text under icons
        }
    }
}