@keyframes flyOutLeft {
    to {
        transform: translateX(-150%) rotate(-30deg);
        opacity: 0;
    }
}

@keyframes flyOutRight {
    to {
        transform: translateX(150%) rotate(30deg);
        opacity: 0;
    }
}

@keyframes flyOutTop {
    to {
        transform: translateY(-150%) rotate(15deg);
        opacity: 0;
    }
}

.fly-out-left {
    animation: flyOutLeft 0.5s forwards;
}

.fly-out-right {
    animation: flyOutRight 0.5s forwards;
}

.fly-out-top {
    animation: flyOutTop 0.5s forwards;
}