@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font-family-base: "Open Sans", sans-serif;
$font-size-base: 1rem; // 16px
$h1-font-size: 2.5rem; // 40px